test/
src/data/type-b/mnist_raw
src/data/images/type-a/*
!src/data/images/type-a/examples/
!src/data/images/type-a/README.md
src/data/images/type-b/*
!src/data/images/type-b/examples/
!src/data/images/type-b/README.md
src/data/images/type-c/*
!src/data/images/type-c/examples/
!src/data/images/type-c/README.md

# large binary files — store on Google Drive, not GitHub
results/embeddings/computed-embeddings/type-b/results
!results/embeddings/computed-embeddings/type-b/results/examples
results/embeddings/computed-embeddings/type-a/results
!results/embeddings/computed-embeddings/type-a/results/examples
results/embeddings/computed-embeddings/type-c/results
!results/embeddings/computed-embeddings/type-c/results/examples

src/pipelines/results/checkpoints/type-a
src/pipelines/results/checkpoints/type-b
src/pipelines/results/checkpoints/type-c
!src/pipelines/results/checkpoints/


__pycache__/
.DS_Store
.env
.idea* 
**/.idea*